@model List<BookModel>
@{
    ViewBag.Title = "Index";
}

<table class="table  table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Count; i++)
        {
            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@Model[i].Title</td>
                <td>@Model[i].Author</td>
                <td>@Model[i].Description</td>
                <td>@Model[i].Category.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@Model[i].Id" class="btn btn-primary">Details</a>
                    <a asp-action="CreateEditBook" asp-route-id="@Model[i].Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@Model[i].Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>